*.suo
*.opensdf
*.sdf
*.log
*.aps
*.user
*.ipch
*.VC.*
address_rows
address_table
block_table
candidate_index
confirmed_index
file_storage
hash_table
record_hash_table_64bit
spend_table
stealth_rows
transaction_index
transaction_table
tx_index
tx_table
block_lookup
block_rows
lookup
rows
spend
transaction
record_manager
slab_manager
slab_hash_table