*.suo
*.opensdf
*.sdf
*.log
*.aps
*.user
*.ipch
*.VC.*
block_index
block_table
hash_table
header_index
history_rows
history_table
record_hash_table_64bit
spend_table
stealth_rows
transaction_index
transaction_table
tx_index
tx_table
block_lookup
block_rows
lookup
rows
spend
transaction